{% import "bootstrap/utils.html" as utils %}
{% extends "layouts/base.html" %}

{% block title %} Add Expense Form {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="row">
    <div class="col-md-8">
      <div class="card">

        <form role="form" method="post" action="">
        
          {{ form.hidden_tag() }} 

<!-- Views When you add a new expense record-->
          {% if add_expense %}
            <div class="card-header">
              <h3 class="title">Νέο Τιμολόγιο Εξόδων</h3>
              <br/>
              {{ utils.flashed_messages() }}
              <br/>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-3 px-md-1">
                      <div class="form-group">
                        <label>Ποσό</label>
                        {{ form.amount(class="form-control") }}
                      </div>
                    </div>
                  </div>

                <div class="row">
                  <div class="col-md-3 px-md-1">
                    <div class="form-group">
                      <label>Κατηγορία</label>
                      {{ form.category(class="form-control") }}
                    </div>
                  </div>
                </div>

                <div class="row">
                    <div class="col-md-3 px-md-1">
                      <div class="form-group">
                        <label>Ημερομηνία</label>
                        {{ form.date_recorded(class="form-control") }}
                      </div>
                    </div>
                  </div>
                
            </div>

<!-- Views when you edit an expense record. -->
          {% else %}

          <div class="card-header">
            <h3 class="title">Τροποποίηση Τιμολογίου Εξόδων</h3>
            <br/>
            {{ utils.flashed_messages() }}
            <br/>
            
          </div>

          <div class="card-body">
              <div class="row">
                <div class="col-md-3 px-md-1">
                  <div class="form-group">
                    <label>Ποσό</label>
                    {{ form.amount(class="form-control") }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 px-md-1">
                  <div class="form-group">
                    <label>Κατηγορία</label>
                    {{ form.category(class="form-control") }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 px-md-1">
                  <div class="form-group">
                    <label>Ημερομηνία</label>
                    {{ form.date_recorded(class="form-control") }}
                  </div>
                </div>
              </div>
          </div>


          {% endif %}

          <div class="card-footer">
            {{ form.submit(class="btn btn-fill btn-primary") }}
            <a href="{{ url_for('admin.list_expenses') }}" class="btn btn-fill btn-danger">
              <i class="fa fa-backward"></i>
              Ακύρωση
          </a>
          </div>

        </form>

      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
