{% extends "layouts/base.html" %}
{% import "bootstrap/utils.html" as utils %}
{% block title %} Expense Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
              <h4 class="card-title">Προσθήκη Εξόδων</h4>
              <p class="card-text">Μπορείς να εισάγεις ένα νέο τιμολόγιο εξόδων.</p>
              <a href="{{ url_for('admin.add_expense') }}" class="btn btn-default btn-lg">
                <i class="fa fa-plus"></i>
                Νέο Έξοδο
            </a>
            </div>
          </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
              <h4 class="card-title">Κατηγορίες Εξόδων</h4>
              <p class="card-text">Οργάνωσε τα έξοδα σου με βάση τις κατηγορίες που θέλεις.</p>
              <a href="{{ url_for('admin.add_expense_category') }}" class="btn btn-primary btn-lg">
                <i class="fa fa-plus"></i>
                Νέα Κατηγορία
              </a>
              <a href="{{ url_for('admin.list_expense_categories') }}" class="btn btn-success btn-lg">
                <i class="fas fa-list"></i>
                Προβολή Κατηγοριών
              </a>

            </div>
          </div>
    </div>
    {{ utils.flashed_messages() }}
      
</div>

    
{% if expenses %}
<table class="table">
    <thead>
        <tr>
            <th class="text-center">#</th>
            <th>Ποσο</th>
            <th>Ημερομηνια</th>
            <th>Κατηγορια</th>
            <th class="text-right">Ενεργειες</th>
        </tr>
    </thead>
    <tbody>
        {% for expense in expenses  %}
        <tr>
            <td class="text-center"> {{ expense.id }} </td>
            <td> {{ expense.amount }} </td>
            <td> {{ expense.date_recorded.strftime('%d-%m-%Y') }} </td>
            <td> {{ expense.expense_id.name }} </td>
            <td class="td-actions text-right">
                <a href="{{ url_for('admin.edit_expense',id=expense.id) }}" class="btn btn-info btn-sm btn-icon">
                    <i class="fas fa-edit"></i>
                </a>
                <a id="delete-alert" href="{{ url_for('admin.delete_expense', id=expense.id) }}" class="btn btn-danger btn-sm btn-icon" onclick="ConfirmDelete()" >
                    <i class="fas fa-trash"></i>
                </a>

            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
{% else %}
<div style="text-align: center">
<h3> Δεν έχουν εισαχθεί έξοδα. </h3>
<hr class="intro-divider">
{% endif %}

{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function() {
    $('.table').DataTable();
} );

</script>

<script>

    function ConfirmDelete()
    {
      var x = confirm("Are you sure you want to delete?");
      if (x)
        return true;
      else
        event.preventDefault()
    }
    
    </script>


{% endblock %}