

      <footer class="footer">
        <div class="container-fluid">
          <ul class="nav">
            <li class="nav-item">
              <a target="_blank" rel="noopener noreferrer"
                 href="#" class="nav-link">
                Livestock Management System
              </a>
            </li>
          </ul>
          <div class="copyright">
            &copy; <a target="_blank" rel="sponsored noopener noreferrer" 
                      href="#">Creative-Tim Template</a> 
            - coded by <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/kostas-tzimopoulos-909b0657">Kostas Tzimopoulos</a>
          </div>
        </div>
      </footer>
      
